{
    "presets": ["next/babel", "@zeit/next-typescript/babel"],
    "plugins": [
        [
          "styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }//next js 오류 수정
        ]
      ]
}
